.home{
  position: absolute;
  top:50%;
  left:50%;
}
.works{
  position: absolute;
  top:55%;
  left:50%;
}
.cv{
  position: absolute;
  top:60%;
  left:50%;
}

.workwith{
  position: absolute;
  top:55%;
  left:50%;
}
.windows{
  position: absolute;
  top:60%;
  left:50%;
}
.shukai{
  position: absolute;
  top:65%;
  left:50%;
}
